{:up   ["ALTER TABLE  goals 
         ADD COLUMN id UUID,
         ADD COLUMN created_at timestamp,
         ADD COLUMN last_updated timestamp,
         ADD COLUMN deadline timestamp,
         ADD COLUMN goal_parent UUID,
         ADD COLUMN completion_percent int,
         ADD COLUMN completion_comments TEXT,
         ADD COLUMN active BOOLEAN,
         ADD COLUMN date_completed timestamp;"]
 :down ["ALTER TABLE  goals 
         DROP COLUMN id,
         DROP COLUMN deadline,
         DROP COLUMN created_at,
         DROP COLUMN last_updated,
         DROP COLUMN goal_parent,
         DROP COLUMN completion_percent,
         DROP COLUMN completion_comments,
         DROP COLUMN active,
         DROP COLUMN date_completed;"]}