{:up   ["CREATE TABLE IF NOT EXISTS buddy_requests (
         id UUID PRIMARY KEY,
         requestee_id UUID REFERENCES users(id) ON DELETE CASCADE,
         requester_id UUID REFERENCES users(id) ON DELETE CASCADE,
         status TEXT);"]
 :down ["DROP TABLE buddy_requests;"]}