{:up   ["CREATE TABLE IF NOT EXISTS requests (
         id UUID PRIMARY KEY,
         requestee_id UUID REFERENCES users(id) ON DELETE CASCADE,
         requester_id UUID REFERENCES users(id) ON DELETE CASCADE,
         status TEXT UNIQUE);"]
 :down ["DROP TABLE requests;"]}