{:up   ["CREATE TABLE IF NOT EXISTS buddy_user (
         buddy_id    int REFERENCES buddy (id) ON UPDATE CASCADE ON DELETE CASCADE
         , user_id int REFERENCES user (id) ON UPDATE CASCADE
         , CONSTRAINT buddy_user_pkey PRIMARY KEY (buddy_id, user_id)  -- explicit pk);"]
 :down ["DROP TABLE buddy_user;"]}
